<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">

<head>
    <title> Register Page </title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12 mt-20 mb-4">
            <div class="md:col-span-3"></div>
            <div class="col-span-12 md:col-span-6">
                <div
                    class="block p-6 bg-white border-t-8 border-b-2 border-x-2 border-purple-600 rounded-lg shadow-lg hover:bg-blue-200 dark:bg-gray-900 dark:border-purple-700  dark:hover:border-indigo-700">

                    <!-- message fragment -->
                    <div data-th-replace="message :: messagebox"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Signup Here</h5>

                    <!-- form start -->
                    <form data-th-action="@{'/do-register'}" method="post" data-th-object="${adminForm}" novalidate
                        class="mt-5">

                        <div class="flex space-x-3">
                            <div class="w-full">
                                <!-- name -->
                                <div class="mb-3">
                                    <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Name
                                    </label>
                                    <input type="text" id="name" data-th-field="*{name}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Enter here.." required />
                                    <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                            <div class="w-full">
                                <!-- email -->
                                <div class="mb-3">
                                    <label for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Email
                                    </label>
                                    <input type="email" id="email" data-th-field="*{email}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name@xyz.com" required />
                                    <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="flex space-x-3">
                            <div class="w-full">
                                <!-- phone number -->
                                <div class="mb-3">
                                    <label for="phone"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Contact Number
                                    </label>
                                    <input type="text" id="phone" data-th-field="*{phoneNumber}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Enter here.." required />
                                    <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                            <div class="w-full">
                                <!-- password -->
                                <div class="mb-3">
                                    <label for="password"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        New Password
                                    </label>
                                    <input type="password" id="password" data-th-field="*{password}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="********" required />
                                    <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- company name -->
                        <div class="mb-3">
                            <label for="companyName"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Company Name
                            </label>
                            <input type="text" id="companyName" data-th-field="*{companyName}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Company Name" required />
                            <p data-th-if="${#fields.hasErrors('companyName')}" data-th-errors="*{companyName}"
                                class="text-red-600 py-1 px-2">
                            </p>
                        </div>

                        <div class="flex space-x-3">
                            <div class="w-full">
                                <!-- State -->
                                <div class="mb-3">
                                    <label for="state"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        State
                                    </label>
                                    <input type="text" id="state" data-th-field="*{state}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="State" required />
                                    <p data-th-if="${#fields.hasErrors('state')}" data-th-errors="*{state}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                            <div class="w-full">
                                <!-- password -->
                                <div class="mb-3">
                                    <label for="city"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        city
                                    </label>
                                    <input type="text" id="city" data-th-field="*{city}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="city" required />
                                    <p data-th-if="${#fields.hasErrors('city')}" data-th-errors="*{city}"
                                        class="text-red-600 py-1 px-2">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- password -->
                        <div class="mb-3">
                            <!-- address -->
                            <label for="message"
                                class="block mt-2 mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                            <textarea data-th-field="*{address}" rows="4"
                                class="relative mb-1 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="X-Y Street,City"></textarea>
                            <p class="text-red-500" data-th-if="${#fields.hasErrors('address')}"
                                data-th-errors="*{address}">
                            </p>
                        </div>


                        <!-- buttons -->
                        <div class="mb-3 flex justify-center space-x-3">
                            <button type="submit" class="px-3 py-2 rounded bg-blue-700 text-white hover:bg-blue-600">
                                Signup</button>
                            <button type="reset" class="px-3 py-2 rounded bg-purple-700 text-white hover:bg-purple-600">
                                Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <script>
        console.log('register page')
    </script>
</body>

</html>